<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="h1 pt-0">Portfolio</h1>
        <p class="lead">This is the portfolio section I am working on.  I am using a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
        <div class="row">
          <div class="col-4">
              <img width="100%" src="http://via.placeholder.com/700x400"></img>
          </div>
          <div class="col-4">
              <img width="100%" src="http://via.placeholder.com/700x400"></img>
          </div>
          <div class="col-4">
              <img width="100%" src="http://via.placeholder.com/700x400"></img>
          </div>
        </div> 
      
        <div class="row margin-portfolio">  
          <div class="col-4">
            <p class="h4 text-info">Project Name</p>
            <p>This is just some text to test this replit. Need to make it long enough to show it in the column </p>
          </div>
          <div class="col-4">
            <p class="h4 text-info">Project Name</p>
            <p>This is just some text to test this replit. Need to make it long enough to show it in the column </p>
          </div>
          <div class="col-4">
            <p class="h4 text-info">Project Name</p>
            <p>This is just some text to test this replit. Need to make it long enough to show it in the column </p>
          </div>
        </div>

   </div>
</div>